language: node_js
node_js: stable
env:
  global:
   - COMMIT=${TRAVIS_COMMIT::6}

sudo: required
services:
- docker
before_script:
  - install npm
#- sudo apt-get install python-software-properties
#- curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -
#- sudo apt-get install python-software-properties
script:
  - cd maya-docs/website
  - npm install docusaurus
  - npm run build
after_success:
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then export REPO=avneetsingh/travis;
     docker login -u "$DOCKER_USER" -p "$DOCKER_PASS" && docker build -t $REPO:$COMMIT . && docker push $REPO; 
    fi

